*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

header{
    text-align: center;
    margin-bottom: 20px;
}

#title{
    margin-block: 20px;
    color: #E53170;
}

body{
    width: 80%;
   margin: auto;
}
  
img{
    width: 40%;
    height: auto;
    float: left;
}


.card{
    width: 30%;
    background-color: #0F0E17;
    float: left;
    margin-inline: 10px;
    margin-top: 40px;
    color: white;
}

.card h3{
    font-weight:bold;
}

